<case value="text">
	<include file="Apps/JankzMaker/View/Elementary/text.html" />
</case>
<case value="password">
	<include file="Apps/JankzMaker/View/Elementary/password.html" />
</case>
<case value="select">
	<include file="Apps/JankzMaker/View/Elementary/select.html" />
</case>
<case value="login_admin">
	<include file="Apps/JankzMaker/View/Elementary/login_admin.html" />
</case>
<case value="login_home">
	<include file="Apps/JankzMaker/View/Elementary/login_home.html" />
</case>
<case value="register">
	<include file="Apps/JankzMaker/View/Elementary/register.html" />
</case>