<extend name="Public:base"/>
<block name="my_css">
    <style type="text/css" media="screen">
body{
        background:  #f3f3f4;
}.profile-content{
    border-top: none!important;
}.ibox
{
    clear: both;

    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
}.ibox.collapsed .ibox-content
{
    display: none;
}.ibox.collapsed .fa.fa-chevron-up:before
{
    content: '\f078';
}.ibox.collapsed .fa.fa-chevron-down:before
{
    content: '\f077';
}.ibox:after,
.ibox:before
{
    display: table;
}.ibox-title
{
    min-height: 48px;
    margin-bottom: 0;
    padding: 14px 15px 7px;

    color: inherit;
    border-width: 4px 0 0;
    border-style: solid solid none;
    border-color: #e7eaec;
    -webkit-border-image: none;
         -o-border-image: none;
            border-image: none;
    background-color: #fff;

    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
}.ibox-content
{
    padding: 15px 20px 20px;

    color: inherit;
    border-width: 1px 0;
    border-style: solid solid none;
    border-color: #e7eaec;
    -webkit-border-image: none;
         -o-border-image: none;
            border-image: none;
    background-color: #fff;
}.no-padding
{
    padding: 0!important;
}.ibox-content.text-box
{
    padding-top: 15px;
    padding-bottom: 0;
}.border-left-right
{
    border-top: none;
    border-right: 1px solid #e7eaec;
    border-bottom: none;
    border-left: 1px solid #e7eaec;
}.m-t-lg
{
    margin-top: 30px;
}
    </style>
</block>
<block name="main">
<div class="container">
        <div class="row animated fadeInRight">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>书法比赛</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="__PUBLIC__/Common/hplus/img/profile_big.jpg">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>家长可参与</strong></h4>
                            <p><i class="fa fa-map-marker"></i>文化宫A302</p>
                            <h5>
                                    通知:
                                </h5>
                            <p>
                                文化宫A302,下周五书法比赛.
                            </p>
                            <div class="row m-t-lg">
                                <div class="col-sm-4">
                                    <h5><strong>1690</strong> 阅读</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5><strong>28</strong> 参与</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5><strong>240</strong> 关注</h5>
                                </div>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> 查看详情</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> 报名参与</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>书法比赛</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="__PUBLIC__/Common/hplus/img/profile_big.jpg">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>家长可参与</strong></h4>
                            <p><i class="fa fa-map-marker"></i>文化宫A302</p>
                            <h5>
                                    通知:
                                </h5>
                            <p>
                                文化宫A302,下周五书法比赛.
                            </p>
                            <div class="row m-t-lg">
                                <div class="col-sm-4">
                                    <h5><strong>1690</strong> 阅读</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5><strong>28</strong> 参与</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5><strong>240</strong> 关注</h5>
                                </div>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> 查看详情</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> 报名参与</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>书法比赛</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="__PUBLIC__/Common/hplus/img/profile_big.jpg">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>家长可参与</strong></h4>
                            <p><i class="fa fa-map-marker"></i>文化宫A302</p>
                            <h5>
                                    通知:
                                </h5>
                            <p>
                                文化宫A302,下周五书法比赛.
                            </p>
                            <div class="row m-t-lg">
                                <div class="col-sm-4">
                                    <h5><strong>1690</strong> 阅读</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5><strong>28</strong> 参与</h5>
                                </div>
                                <div class="col-sm-4">
                                    <h5><strong>240</strong> 关注</h5>
                                </div>
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> 查看详情</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"><i class="fa fa-coffee"></i> 报名参与</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>
</block>