<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H+ 后台主题UI框架 - 首页示例四</title>

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="__PUBLIC__/Common/hplus/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/Common/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Common/hplus/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Common/hplus/css/style.min.css?v=4.0.0" rel="stylesheet">
    <block name="my_css"></block>
</head>

<body class="gray-bg top-navigation">

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <a href="#" class="navbar-brand">JankzShare</a>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a href="login.html">
                                    <i class="fa fa-sign-out"></i> 返回首页
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content">
                <div class="container">
                <block name="main"></block>
                </div>
            </div>
            <div class="footer">
                <div class="pull-right">
                    By：<a href="http://www.jankz.com" target="_blank">jankz</a>
                </div>
                <div>
                    <strong>Copyright</strong> jnakz.com &copy; 2014-2016
                </div>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/Common/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/Common/hplus/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="__PUBLIC__/Common/hplus/js/content.min.js?v=1.0.0"></script>
    <block name="my_js"></block>
     </body>

</html>