<extend name = "Public:base"/>
<block name="main">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <ul class="notes">
                <volist name="notice" id="not">
                    <li>
                        <div>
                            <small>{{$not.c_time|date='Y年-m月-d日',###}}</small>
                            <h4>{{$not.title}}</h4>
                            <p>{{$not.content}}</p>
                            <a href="#"><i class="fa fa-trash-o "></i></a>
                        </div>
                    </li>
                </volist>
                </ul>
            </div>
        </div>
    </div>
</div>

</block>