<case value="libs">
<div class="row">
	<div class="col-sm-4">
	    <div class="contact-box">
	        <a href="profile.html">
	            <div class="col-sm-4">
	                <div class="text-center">
	                    <img alt="image" class="img-circle m-t-xs img-responsive" src="__PUBLIC__/Common/hplus/img/a2.jpg">
	                    <div class="m-t-xs font-bold">CTO</div>
	                </div>
	            </div>
	            <div class="col-sm-8">
	                <h3><strong>奔波儿灞</strong></h3>
	                <p><i class="fa fa-map-marker"></i> 甘肃·兰州</p>
	                <address>
	                <strong>Baidu, Inc.</strong><br>
	                E-mail:xxx@baidu.com<br>
	                Weibo:<a href="">http://weibo.com/xxx</a><br>
	                <abbr title="Phone">Tel:</abbr> (123) 456-7890
	            </address>
	            </div>
	            <div class="clearfix"></div>
	        </a>
	    </div>
	</div>
</div>
</case>